body,
html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.filled-btn {
    background-color: #455adc;
    border-color: #455adc;
    color: white;
    border-radius: 5px !important;
}

.outline-btn {
    background-color: #ffffff;
    border-color: #455adc;
    color: #455adc;
    border-radius: 5px !important;
}

.filled-btn:hover {
    background-color: #1a35e7;
    color: white;
}

.outline-btn:hover {
    background-color: #455adc;
    border-color: #455adc;
    color: #ffffff;
}

.errorContainer {
    height: 40%;
    width: 30%;
    border: 2px solid black;
    box-shadow: 5px 5px 8px rgb(165, 165, 165);
}

.card {
    border: none;
    box-shadow: 5px 5px 8px rgb(165, 165, 165);
}

.form-control {
    background-color: #ffffff;
    font-size: 15px;
    border-radius: 0px !important;
}


input,textarea{
    box-shadow: none !important;
}

input:focus,
textarea:focus{
    border-color: #455adc !important;
}

.search-icon{
    float: right;
    cursor: pointer;
    margin-right: 25px;
    margin-top: -41px;
}


.blog-cards-container .card {
    border: none;
    box-shadow: 5px 5px 4px rgb(165, 165, 165);
    border-radius: 10px;
}

.blog-items .card {
    border: none;
    box-shadow: 2px 0px 6px rgb(165, 165, 165);
    border-radius: 10px;
}

.blog-items {
    width: 280px;
    margin-right: 20px;
}

.blog-items{
    position: relative;
    overflow: hidden;
}

.blog-items::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
      background-color: #1a35e7;
}