@using UserManagement.Models.ViewModels;
@model List<BlogListViewModel>;

@{
    ViewData["Title"] = "Home Page";
}

<div class=" min-vh-100">

    <div class="d-flex justify-content-between align-items-center mb-2">
        <h1 class="fw-bold" style=" font-size: 35px;">Blogs</h1>
            <button class="btn p-2" style="background-color: #3f55e7; color: white;" onclick="OpenBlogModal(0)">
                <i class="fa fa-plus"></i> Add Blog
            </button>
        
    </div>

    <div class="row row-cols-md-2 row-cols-1 mt-3 g-3" id="blogContainer">
         @Html.Partial("_BlogListPartialView", Model)
    </div>
</div>

<div id="createBlogModalContainer"></div>
<div id="commetsModalContainer"></div>


<script>
    function OpenBlogModal(blogId) {
        $.ajax({
            type: 'GET',
            url: '/Home/OpenCreateBlogModal',
             data: { blogId: blogId },
            success: function (response) {
                $('#createBlogModalContainer').html(response);
                $('#blogModal').modal('show');
            },
            error: function () {
                toastr.error("Error in opening the modal.")
            }
        });
    }


    function LoadBlogs(){
          $.ajax({
            type: 'GET',
            url: '/Home/RetriveBlogList',
            success: function (response) {
                $('#blogContainer').html(response);
            },
            error: function () {
                toastr.error("Error in Fetching Blogs.")
            }
        });
    }

    
</script>


