@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center min-vh-100">
    <h1 class="display-4" style="font-weight:500; color: #000000; font-size: 60px;">Welcome</h1>
    <p class="fs-5 mt-4">Role: @Context.Items["Role"]</p>
</div>
