@{
    ViewData["Title"] = "Blog Details";
}


<div class="order-details-page w-100 h-100 container px-lg-5 px-sm-2 p-sm-3 p-2">

    <div class="d-flex justify-content-between align-items-center">
        <h1 style="color: #125a8a; font-size: 35px;" class="fw-bold mb-2 mb-sm-0">Order-Details</h1>
        <a asp-controller="User" asp-action="Index" class="btn px-sm-3 py-sm-2 py-1 outline-btn"
            style="font-size: 18px;">
            <span class="d-none d-sm-inline">Back</span>
            <span class="d-sm-none" style="font-size: 1.5rem;"></span>
            <i class="fa-regular fa-less-than d-sm-none" style="font-size: 1.5rem;"></i>
        </a>
    </div>

</div>