@using UserManagement.Models.ViewModels;
@model List<BlogListViewModel>;

@{
    ViewData["Title"] = "Home Page";
}

<div class=" min-vh-100">

    <div class="d-flex justify-content-between align-items-center mb-2">
        <h1 class="fw-bold" style=" font-size: 35px;">Blogs</h1>

        <div class="form-group mt-2 serchOrderAppMenuItem">
            <div class="form-floating">
                <input type="text" class="form-control" id="searchInput" placeholder="Search">
                <label for="searchInput">Search</label>
                <span class="search-icon">
                    <i class="fa fa-search" style="font-size: 17px; color: #696969;"></i>
                </span>
            </div>
        </div>

    </div>

    <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 row-cols-xxl-6 g-4 px-md-3 px-4 py-3 blog-cards-container justify-content-center"
        id="allBlogsContainer" style="overflow-x: hidden;">

        @Html.Partial("_BlogCardsPartialView", Model)

    </div>

</div>

<script>
    var search="";

    $('#searchInput').on('keyup', function () {
        search = $(this).val().toLowerCase();
        LoadBlogsCards();
    });


    function LoadBlogsCards() {
        $.ajax({
            type: 'GET',
            url: '/User/LoadBlogCards',
            data: { search: search },
            success: function (response) {
                $('#allBlogsContainer').html(response);
            },
            error: function () {
                toastr.error("Error in Fetching Blogs.")
            }
        });
    }

</script>