@using UserManagement.Models.ViewModels;
@model List<BlogListViewModel>;

@{
    ViewData["Title"] = "Home Page";
}

<div class=" min-vh-100">

    <div class="d-flex justify-content-between align-items-center mb-2">
        <h1 class="fw-bold" style=" font-size: 35px;">Blogs</h1>

        <div class="form-group mt-2 serchOrderAppMenuItem">
            <div class="form-floating">
                <input type="text" class="form-control" id="searchMenuInputOrderApp" placeholder="Search">
                <label for="searchMenuInputOrderApp">Search</label>
                <span class="search-icon">
                    <i class="fa fa-search" style="font-size: 17px; color: #696969;"></i>
                </span>
            </div>
        </div>

    </div>

    <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 row-cols-xxl-6 g-4 px-md-3 px-4 py-3 blog-cards-container justify-content-center"
        id="allBlogsContainer" style="overflow-x: hidden;">

        @foreach (var blog in Model)
        {
            <div class="card col blog-items p-0 ">
                <div class="d-flex gap-2 h-100">
                    <div class="card h-100 blog-image" style="width: 70px;">
                        <img src="~/images/blogs-removebg-preview.png" alt="itemImg" class="h-100 p-1">

                    </div>
                    <div class="d-flex flex-column justify-content-center flex-grow-1 p-2 gap-2">
                        <div class="d-flex fw-bold">
                            @blog.Title
                        </div>
                        <div class="d-flex justify-content-between">
                            <span> @blog.PostedAt</span>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

</div>